@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main{
    width: 700px;
    border-radius: 15px;
    background-color: #01579b;
    margin: auto;
}

.top{
    height: 60px;
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}

.header{
    background-color: white;
    color: whitesmoke;
    font-size: 38px;
    border-radius: 20px;
    font-family: 'Recursive', sans-serif;
    position: relative;
    bottom: 20px;
    
}

.day{
    padding: 10px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.temp{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serf;
    font-size: 21px;
}

.flex
.description{
    padding: 15px;
    color:whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.feels{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
}

.button{
    width: 35px;
    height: 35px;
}

.articles{
    background-color: white;
}
.description{
    font-size: 15px;
    font-family: 'Recursive', sans-serif;
    color:whitesmoke;
}

.heading{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.flexTask {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containterTask{
    width: 900px;
    min-height: 900px;
    padding: 10px;
}

.task_container{
    margin: 10px 0;
    cursor: pointer;
}

.line_through{
    text-decoration: line-through;
}

.task{
    flex-grow: 1;
    margin-left: 10px;
}

.flex{
    display:flex;
    justify-content: space-between;
}

